:root {
    /* Colors */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    /* Fonts */
    --font-header: Raleway;
    --font-body: "Open Sans";

    font-size: 14px;
}

* {
    box-sizing: border-box;
}

input {
    padding-inline: 1rem;
}

input::placeholder {
    opacity: 40%;
}

body {
    font-weight: 400;
    font-family: var(--font-body);
    color: var(--very-dark-blue);
}

header {
    display: flex;
    align-items: center;
    column-gap: clamp(1.5rem, 0.308rem + 5.085vw, 3.563rem);

    padding-top: clamp(1.5rem, 0.019rem + 6.317vw, 4.063rem);
    padding-inline: clamp(1.688rem, -0.227rem + 8.166vw, 5rem);
}

header img {
    margin-right: auto;
    width: clamp(5rem, 1.894rem + 13.251vw, 10.375rem);
}

header button {
    border: none;
    background: inherit;
    font-family: var(--font-header);
    color: inherit;
}

.main-signup-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    text-align: center;
    padding-inline: clamp(1.688rem, -0.227rem + 8.166vw, 5rem);
}

.main-signup-section h1 {
    font-size: 1.5rem;
}

.main-signup-section__illustration {
    max-width: 100%;
}

.main-signup-section button,
.early-access-section button {
    height: 2.5rem;

    color: white;
    background: var(--bright-blue);
    border: none;
    border-radius: 4px;
    font-family: var(--font-header);
    font-weight: bold;
    font-size: 0.875rem;
}

.main-signup-section input {
    height: 2.5rem;
    border-radius: 4px;
}

.location-pitch-section {
    padding-inline: clamp(1.688rem, -0.227rem + 8.166vw, 5rem);
}
.location-pitch-section__illustration {
    max-width: 100%;
}

.early-access-section {
    background-color: var(--desaturated-blue);
    color: white;
}

footer {
    background-color: var(--very-dark-blue);
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
